package app.capgo.disqo

import com.getcapacitor.Logger

class Disqo {

    fun echo(value: String): String {
        Logger.info("Echo", value)

        return value
    }

    fun getPluginVersion(): String {
        return "native"
    }
}
